<!DOCTYPE html>
<html lang="en">
<head>
<%= javascript_include_tag 'script' %>
<%= stylesheet_link_tag 'styles' %>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RandomGenerators</title>
</head>
<body class="password-page">
    <h1 id="title-pass-text"> Random Password Generator</h1>
  <div class="container main-password-container">
      <div class = "generator-box">
        <div class="password">
          <input type="text" id="generatedPassword" placeholder="Password" >
            <i class="fa-regular fa-copy" onclick="passwordCopy()"></i>
        </div>
      </div>
  </div>
    <button id="generate">Generate Password</button>

  <%= javascript_include_tag 'password_generator' %>

  <%= javascript_include_tag 'script' %>

</body>
</html>
