<!DOCTYPE html>
<html lang="en">
<head>
<%= javascript_include_tag 'script' %>
<%= stylesheet_link_tag 'styles' %>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RandomColourGenerator</title>
</head>
<body id="color-color">
    <div class="container color-page">
      <h1 id="color-title">Random Colour Generator</h1>
        <div class="color row col-sm">
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div><div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="container">
          <button id="generate-color">Generate Colours</button>
          </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <div class="color-palette">
              <input type="text" class="generatedColour" placeholder="Color" readonly>
            </div>
            <p id="color-message">Click a colour to copy!</p>
        </div>
    </div>




  <%= javascript_include_tag 'color_script' %>

  <%= javascript_include_tag 'script' %>

</body>
</html>
